$wideScreenWidth: 850px
$mediumScreenWidth: 850px

$block-title-color: #1a0b41
$block-color-fade: #b3a8e2

$table-spacing: 10px

$field-border-color: lighten(#7082AB, 10)

$switcher-height: 22px
$switcher-width: 48px

$switcher-color1: #70A4FF
$switcher-color2: #FFCA70

$iconsPaths: ('phone' 'phone.svg') ('email' 'email.svg') ('address' 'map-marker.svg') ('name' 'account.svg')

@mixin info-icons($x-pos, $y-pos)
    @each $data-type, $icon-name in $iconsPaths
        &.type_#{$data-type}
            background-image: url('../img/icons/' + $icon-name) 
            background-repeat: no-repeat 
            background-position: $x-pos $y-pos
            
            
        
@mixin error-field-properties
    display: none
    padding: 5px
    margin-top: 5px
    background-color: red
    color: white

    &.show
        display: block

@mixin switcher-circle
    position: absolute
    cursor: pointer
    top: 0px
    left: 0
    right: 0
    bottom: 1px
    background-color: white
    transition: .4s
    border-radius: 34px
    border: 0.5px solid grey
    padding-top: 1px

    &:before
        position: absolute
        content: ""
        height: $switcher-height * 0.8
        width: $switcher-height * 0.8
        left: 2px
        transition: .4s
        border-radius: 50%

#feedbackModal
    padding: 0px 50px 0px 50px
    text-align: center
    white-space: nowrap
    height: 100vh
    
    &:after
        display: inline-block
        vertical-align: middle
        width: 0
        height: 100%
        content: ''
    
    .FeedbackForm-RootElement
        
        display: inline-block
        vertical-align: middle
        
        .container
            box-sizing: border-box;
            max-height: calc(100vh - 1px)
            overflow-y: scroll

            margin: 0.5px
            padding: 10px
            
            font-size: 14px
            background-color: white
            
            display: inline-block
            
            text-align: left
            white-space: normal
            
            font-family: Arial, Verdana

            >div
                display: table-cell
                overflow: hidden

                h3.title
                    font-size: 25px
                    color: $block-title-color
                    margin-bottom: 30px

                    @media (max-width: $wideScreenWidth)
                        margin-bottom: 5px

                &:nth-child(1)
                    width: percentage(1/3)
                    padding-right: 10px

                    @media (max-width: $wideScreenWidth)
                        display: block
                        width: 100%
                        padding-bottom: 20px
                        padding-right: inherit

                &:nth-child(2)
                    width: percentage(2/3)
                    margin-left: 5px

                    @media (max-width: $wideScreenWidth)
                        display: block
                        width: 100%  

            .companyContactsBlock

                .contactsList

                    padding-top: 15px

                    li
                        margin-top: 10px
                        list-style: none
                        padding-left: 54px
                        height: 30px
                        color: $block-color-fade
                        font-size: 16px

                        +info-icons(0px, -2px)



            .feedbackBlock

                input,textarea
                    border: 1px solid $field-border-color

                .fields

                    .fieldBlock
                        padding-top: 5px

                        >div

                            &:nth-child(1)
                                display: inline-block
                                width: percentage(40 / 100)

                                @media (max-width: $mediumScreenWidth)
                                    display: block
                                    width: 100%

                            &:nth-child(2)

                                display: inline-block
                                width: percentage(50 / 100)
                            
                                vertical-align: center
                                @media (max-width: $mediumScreenWidth)
                                    display: block
                                    width: 100%
                                
                                input
                                    width: 100%
                                    max-width: 350px
                                    height: 28px

                                    +info-icons(0px, 5px)
                                    background-size: 15px 15px
                                    padding-left: 20px
                                    
                                    border-radius: 3px
                                    
                                    transition: background-color 5000s ease-in-out 0s

                                    &:focus
                                        background: none
                                        padding-left: inherit
                                    
                                    &.invalid
                                        border-color: red

                            .label
                                padding-right: 20px

                            

                    .errorBlock
                        .error
                            +error-field-properties



                .message
                    padding-top: 10px

                    p
                        margin-bottom: 15px

                        @media (max-width: $mediumScreenWidth)
                            margin-bottom: 5px

                    textarea
                        width: 100%
                        height: 115px
                        border-radius: 3px
                        
                .settings
                    
                    display: table
                    width: 100%
                    
                    input
                    
                        &[type='checkbox'], &[type='radio']
                            border-color: $field-border-color
                            color: $field-border-color

                    >div
                        display: table-cell

                        @media(max-width: $mediumScreenWidth)
                            display: block

                        &:nth-child(1)
                            width: percentage(5 / 10)
                            @media(max-width: $mediumScreenWidth)
                                width: 100%    
                        &:nth-child(2)
                            width: percentage(5 / 10)
                            @media(max-width: $mediumScreenWidth)
                                width: 100% 

                    border-spacing: $table-spacing
                    margin-left: -$table-spacing

                    .column1

                        .checkboxes
                            
                            label
                                
                                cursor: pointer
                                
                                display: block
                                position: relative
                                padding-bottom: 20px
                                
                                >input,>span
                                    
                                    display: inline-block
                                    
                                
                                input
                                    
                                    display: none
                                    &:checked
                                        + .checkbox + .label:before
                                            content: '✔'
                                        
                                .checkbox
                                    width: 16px
                                    height: 16px
                                    
                                    border-radius: 2px
                                    border: 1px solid $field-border-color
                                    
                                .label
                                    position: absolute
                                    top: 0px
                                    left: 25px
                                    
                                    &:before
                                        position: absolute
                                        top: -5px
                                        left: -22px
                                    
                                        color: $field-border-color
                                        font-size: 20px


                        .connectMethodBlock

                            padding-top: 20px
                            
                            p
                                margin-bottom: 20px

                            label
                                display: block
                                padding-bottom: 15px
                                
                                cursor: pointer
                                position: relative
                                
                                input
                                    display: none
                                    &:checked + span.option > span
                                        background-color: $field-border-color
                                        
                                .option
                                    display: inline-block
                                    border-radius: 50%
                                    background-color: white
                                    width: 15px
                                    height: 15px
                                    
                                    border: 1px solid $field-border-color
                                    
                                    position: relative
                                    
                                    
                                    >span
                                        display: inline-block
                                        border-radius: 50%
                                        background-color: white
                                        width: 7px
                                        height: 7px
                                        
                                        position: absolute
                                        top: 3px
                                        left: 3px
                                        
                                        
                                .label 
                                    display: inline-block
                                    position: absolute
                                    left: 25px
                                    top: 0px
                                

                    .column2

                        padding-left: 10px

                        @media(max-width: $mediumScreenWidth)
                            padding-left: 0px
                            padding-top: 15px

                        .switcherContainer

                            label

                                position: relative
                                display: inline-block
                                width: $switcher-width
                                height: $switcher-height

                                input
                                    display: none

                                    &:checked 
                                        + .circle

                                            &:before
                                                transform: translateX(24px)

                                            + .lbl
                                                &.color1
                                                    color: $switcher-color1
                                                &.color2
                                                    color: $switcher-color2

                                .circle
                                    +switcher-circle

                                    &.color1
                                        border-color: $switcher-color1
                                        &:before
                                            background-color: $switcher-color1
                                    &.color2
                                        border-color: $switcher-color2
                                        &:before
                                            background-color: $switcher-color2


                                .lbl
                                    position: absolute
                                    left: 120%
                                    top: 4px 

                            &:nth-child(2)
                                padding-top: 15px

                .errorInfo
                    +error-field-properties
                    margin-bottom: 10px
                    
                #submitButton
                    height: 35px
                    width: 150px
                    background: $block-color-fade
                    color: white
                    font-size: 15px
                    border-color: transparent
                    border-radius: 4px
                    cursor: pointer

                    &:hover
                        background-color: darken($block-color-fade, 15)





