.wrapper
    height: 100%
    width: 100%
    display: table
    
    .content
        height: 100%
        display: table-row
        
    footer
        width: 100%
        text-align: center
        background: grey
        color: white
    
