$header-height: 		70px
$logo-default-width:    215px
$header-height-smaller: 40px
$header-margin: 		10px

$logo-gradient-color-start: 		#000046
$logo-gradient-color-finish: 		#1cb5e0

$menu-button-normal-color: 			#8caff0
$menu-button-normal-hover-color:	#b1fedc
$menu-button-accent-color: 			#f8d876
$menu-button-accent-hover-color: 	#8fdf48

$menu-button-gradient-edge:			#959595
$menu-button-gradient-middle:		#0D0D0D

$menu-button-accent-active-gradient-edge:		#d9e13e
$menu-button-accent-active-gradient-middle:		#0D0D0D

$sidebar-width:					270px
$sidebar-text-color: 			#400c5c
$sidebar-text-listhover-color: 	#a073c6

$button-bgimage-path:  '../img/backgrounds/diagonal-striped-brick.png' 

=left-right-gradient($color-start, $color-finish)
	background-image: -ms-linear-gradient(left, $color-start 0%, $color-finish 100%)
	background-image: -moz-linear-gradient(left, $color-start 0%, $color-finish 100%)
	background-image: -o-linear-gradient(left, $color-start 0%, $color-finish 100%)
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $color-start), color-stop(100, $color-finish))
	background-image: -webkit-linear-gradient(left, $color-start 0%, $color-finish 100%)
	background-image: linear-gradient(to right, $color-start 0%, $color-finish 100%)
	
=menu-buttons-gradient($color-edge, $color-middle)
	background: url($button-bgimage-path) 0px 0px, linear-gradient(180deg, $color-edge, $color-middle 50%, $color-edge)

=modal-background($color-r: 0, $color-g: 0, $color-b: 0, $opacity: 0.8, $display: none)
	display: $display
	position: absolute
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	z-index: 1000
	overflow: auto
	background-color: rgba($color-r, $color-g, $color-b, $opacity)
		
header
	position: fixed
	width: 100%
	height: $header-height
	z-index: 998
	padding: 0px
	+left-right-gradient($logo-gradient-color-start, $logo-gradient-color-finish)
	
	a.logo-link
        display: inline-block
        .img-logo
            width: $logo-default-width
            margin-left: $header-margin
            @media (max-width: 400px)
                width: 180px
            @media (max-width: 360px)
                width: 140px
		
	.head-menu
		float: right
		height: 60px
		margin-top: 10px
		margin-right: $header-margin
		
		ul.menulist
			//overflow: hidden
		    list-style-type: none
			
		li.menuitem 
			height: 51px
			float: left
			margin-left: 5px
			background-color: $menu-button-normal-color
			
			@each $child, $size in 	(1, 800px), (2, 750px), (3, 650px), (4, 550px)
				
				&:nth-child(#{$child})		
					@media (max-width: $size)
						display: none
					
			&.accent
				background-color: $menu-button-accent-color	
				
				a
					color: $menu-button-accent-color
					
					&:hover
						color: $menu-button-accent-hover-color 
					
				&:hover		
					background-color: $menu-button-accent-hover-color
					
					
			&.drop-menu
				
				cursor: pointer
				position: relative
				display: none
				@media (max-width: 800px)
					display: block
			
				&:hover		
					background-color: $menu-button-accent-hover-color
					
				.a
					padding: 0px 4px 3px 4px
					color: white
					
					&:hover
						color: $menu-button-accent-hover-color
						
				.a div.hamburger
					font-size: 22px
					
				.a div.menulabel
					font-size: 12px
					margin-top: 1.5px
					margin-bottom: 2px
					
				ul
					display: none
					position: absolute
					top: 100%
					z-index: 1000
					right: 0px
					background-color: white
					width: 110px
					height: 90px
    
					li
					   text-align: left
					   height: 20px
					   border-top: 1px dotted grey
					   a
				        color: blue
                        padding: 5px
        
        
					   &:hover
					       background-color: grey
        
					       a
					       	color: yellow
                        
					
				&:hover	ul
					display: block
			
			&:hover
				background-color: $menu-button-normal-hover-color	
			&:hover a
				color: $menu-button-normal-hover-color			
					
		li.menuitem .a
	    	display: block
		    text-align: center
		    color: $menu-button-normal-color
		    
		    padding: 14px
		    margin: 3px 0px 1px 0px;
		    
		    border-top: solid 2px black
		    border-bottom: solid 2px black
		    
		    +menu-buttons-gradient($menu-button-gradient-edge, $menu-button-gradient-middle)
		    
		li.menuitem .a:active
			+menu-buttons-gradient($menu-button-accent-active-gradient-edge, $menu-button-accent-active-gradient-middle)	

.modalBackground
	+modal-background
	
	.sidebar
		position: fixed
		top: 0px
		right: 0px
		width: 0px
		height: 100%
		float: right
		color: $sidebar-text-color
		background-color: white
		padding: 5px
		
		a
			color: $sidebar-text-color
		
		&.opened
			width: $sidebar-width
		
		.rightTopButton
			float: right
			
		.menuItems
			+DivTable
			margin-top: 50px
			margin-left: 25px
			
			.menu-item-icon
				+Sprite-HandPointingRight
			.menu-item-row:hover 
				.menu-item-text a
					color: $sidebar-text-listhover-color
				.menu-item-icon
    				transform: rotateY(30deg)
			
		.top
			heigth: 100px
			
			.menuTitle
				margin: 10px
				font-size: 20px
			
			.rightTopButton
				span
					text-align: center
					display: block
				.closeButtonTitle
					font-size: 10px
				.closeDlgButton a
					color: black
					font-size: 20px
    
.wrapper
    height: 100%
    padding-top: $header-height

					
					
			
	
                                		