extends layouts/basic

block append CssLinks
    link(href='css/01-01_NoJsRequest.css', rel='stylesheet')

block prepend Content

    include widgets/FeedbackFormServerErrors

    div.NoJsFeedbackForm-RootElement
        
        noscript
            div.NoJsFeedbackForm-NoJsWarningMessage
                | Из-за того, что в Вашем браузере отключён JavaScript, мы не можем проверить введённые данные
                | перед их отправкой, а потому при вводе некорректных данных (например, невозможного
                | email-адреса после попытки отправить заявку Вы будете возвращены на эту страницу.
                | Пожалуйста, включите JavaScript, чтобы этого избежать. (
                a.D-Link.error(href='https://www.enable-javascript.com/ru/') Как включить JavaScript
                | ).
                
        //      action="{{ route('submitConsultationRequest') }}"
        form(action='/', method='post')
            //      {{ csrf_field() }}  
            

block append HiddenElements
    //      @include('public/widgets/FeedbackForm')        
    include widgets/FeedbackForm

block prepend EndBodyJS
    script(src='js/NoJsRequest.js')