extends layouts/basic
include mixins

block append CssLinks
    link(href='css/01_Top.css', rel='stylesheet')


block prepend Content

    //include widgets/FeedbackFormServerErrors
    
    // @include('open/01_Top/01_Slider')
    include 01_Top/01_Slider
    
    // @include('open/01_Top/02_CustomGrid')
    include 01_Top/02_CustomGrid
    
     // @include('open/01_Top/03_VerticalCentering')
    include 01_Top/03_VerticalCentering
    
    // @include('open/01_Top/04_CardsView')
    include 01_Top/04_CardView
    

block append HiddenElements
    //      @include('open/widgets/FeedbackForm')        
    include widgets/FeedbackForm

block prepend EndBodyJS
    script(src='js/Top.js')