<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <!--      {{ $pageHeadData->title }}       -->
    <title>myPhone новый хороший смартфон , не хуже чем телефон apple айфон и дешевле</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Reutov Dmitry, MyLanding Studio">
    <!--      content="{{ $pageHeadData->metadesc }}"     -->
    <meta name="description" content="Приобретая новую модель телефона MyPhone вы становитесь обладетелем престижного смартфона, сопоставимого по качеству с моделями телефонов Айфон.">
    <!--      content="{{ $pageHeadData->keywords }}"     -->
    <meta name="Keywords" content="Смартфон, мобильный телефон, айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/01-01_NoJsRequest.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!-- 「header ==========================================================-->
    <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
    <header>
        <div class="headerBlock Centerer-MinMaxGridWidth">
            <a class="logo-link" href="#">
                <img class="img-logo" src="img/mhgsmall.png" title="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти" alt="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти">
            </a>
            <nav class="head-menu">
                <ul class="menulist">
                    <li class="menuitem"><a class="a" href="#">О компании</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Товары</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Услуги</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Схема проезда</a>
                    </li>
                    <li class="menuitem accent" onclick="modalDlg.open(&quot;.FeedbackForm-RootElement .container&quot;, &quot;opened&quot;, &quot;#feedbackModal.modalBackground&quot;);"><a class="a" href="#">Связаться</a>
                    </li>
                    <li class="menuitem drop-menu" onclick="modalDlg.open(&quot;.sidebar&quot;, &quot;opened&quot;, &quot;#sidebarModal.modalBackground&quot;);">
                        <div class="a">
                            <div class="hamburger">&#9776;</div>
                            <div class="menulabel">МЕНЮ</div>
                            <noscript>
                                <ul class="dropdown">
                                    <li class="submenuitem"><a href="#">О компании</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Товары</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Услуги</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Схема проезда</a>
                                    </li>
                                </ul>
                            </noscript>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header」 ==========================================================-->
    <div class="wrapper">
        <!-- 「content ========================================================-->
        <!--      @yield('Content')       -->
        <!--@if(count($errorMessages) > 0)-->
        <!--    <div class="FeedbackForm-ServerErrors-RootWrapper">-->
        <!--        <div class="FeedbackForm-ServerErrors-Centerer">-->
        <!--            <div class="FeedbackForm-ServerErrors-Title">-->
        <!--                При отправке формы заявки обнаружены следующие ошибки:-->
        <!--            </div>-->
        <!--            <ul class="FeedbackForm-ServerErrors-ErrorsList">-->
        <!--                @foreach($errorMessages -> all() as $errorMessage)-->
        <!--                    <li>{!! $errorMessage !!}</li>-->
        <!--                @endforeach-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--@endif-->
        <!-- Убери (style='display: none')-->
        <div class="FeedbackForm-ServerErrors-RootWrapper" style="display: none;">
            <div class="FeedbackForm-ServerErrors-Centerer">
                <div class="FeedbackForm-ServerErrors-Title">При отправке формы заявки обнаружены следующие ошибки:</div>
                <ul class="FeedbackForm-ServerErrors-ErrorsList">
                    <li>Вы не указали Ваше имя. Пожалуйста, укажите имя (фамилию и отчество не обязательно).</li>
                    <li>Вы указали слишком длинное имя: позволено не более 255 символов.</li>
                    <li>Вы не указали адрес электронной почты. Пожалуйста, укажите адрес электронной почты.</li>
                    <li>Вы ввели невозможный адрес электронной почты. Пожалуйста, проверьте введённый email-адрес.</li>
                </ul>
            </div>
        </div>
        <div class="NoJsFeedbackForm-RootElement">
            <noscript>
                <div class="NoJsFeedbackForm-NoJsWarningMessage">Из-за того, что в Вашем браузере отключён JavaScript, мы не можем проверить введённые данные перед их отправкой, а потому при вводе некорректных данных (например, невозможного email-адреса после попытки отправить заявку Вы будете возвращены
                    на эту страницу. Пожалуйста, включите JavaScript, чтобы этого избежать. (<a class="D-Link error" href="https://www.enable-javascript.com/ru/">Как включить JavaScript</a>).</div>
            </noscript>
            <!--      action="{{ route('submitConsultationRequest') }}"-->
            <form action="/" method="post">
                <!--      {{ csrf_field() }}  -->
            </form>
        </div>
        <!-- content」 ========================================================-->
        <!-- 「footer =========================================================-->
        <!--      @include('public/widgets/RegularFooter')-->
        <footer>Наша компания работает с 2012 года</footer>
        <!--	footer」 =======================================================-->
        <!--	@yield('HiddenElements')-->
    </div>
    <!--      @include('public/widgets/FeedbackForm')        -->
    <div class="modalBackground" id="feedbackModal">
        <div class="FeedbackForm-RootElement">
            <div class="container">
                <div class="companyContactsBlock">
                    <h3 class="title">Адреса и телефоны</h3>
                    <ul class="contactsList">
                        <li class="type_phone">+7 495 123-45-67</li>
                        <li class="type_email">mail@company.ru</li>
                        <li class="type_address">Москва, ул. Академика Порохова, дом 20, Дом 4, подъезд 145, звонить</li>
                    </ul>
                </div>
                <div class="feedbackBlock">
                    <form id="feedback" action="#" method="post">
                        <h3 class="title">Форма заявки</h3>
                        <div class="fields">
                            <div class="fieldBlock">
                                <div class="label">Ваше имя</div>
                                <div class="field">
                                    <input class="type_name" placeholder="Пример: Петров Сергей" name="name" type="text" pattern="[A-Za-zА-Яа-яЁё]+" required>
                                </div>
                            </div>
                            <div class="errorBlock type_name">
                                <div class="error">Вы не ввели ваше имя, пожалуйста введите ваше имя</div>
                                <div class="error">Вы не ввели ни одной буквы, пожалуйста введите ваше имя</div>
                            </div>
                            <div class="fieldBlock">
                                <div class="label">Ваша электронная почта</div>
                                <div class="field">
                                    <input class="type_email" placeholder="Пример: petrov@mail.ru" name="email" type="text" pattern=".+@.+\..+" required>
                                </div>
                            </div>
                            <div class="errorBlock type_email">
                                <div class="error">Вы не ввели адрес электронной почты. Пожалуйста введите адрес электронной почты</div>
                                <div class="error">Вы ввели невозможный адрес электронной почты, пожалуйста проверьте введенный адрес</div>
                            </div>
                            <div class="fieldBlock">
                                <div class="label">Ваш телефон</div>
                                <div class="field">
                                    <input class="type_phone" placeholder="Пример: +7 495 234-56-78" name="phone" type="tel" pattern="[0-9]{2,}" required>
                                </div>
                            </div>
                            <div class="errorBlock type_phone">
                                <div class="error">Вы не ввели номер телефона. Пожалуйста введите номер телефона.</div>
                                <div class="error">Вы ввели невозможный номер телефона. Пожалуйста проверьте ваш номер телефона</div>
                            </div>
                        </div>
                        <div class="message">
                            <p>Сообщение:</p>
                            <textarea></textarea>
                        </div>
                        <div class="settings">
                            <div class="column1">
                                <div class="checkboxes">
                                    <label>
                                        <input type="checkbox" name="subscribe1"><span class="checkbox"></span><span class="label">Подписаться&nbsp;на&nbsp;рассылку&nbsp;1</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="subscribe2"><span class="checkbox"></span><span class="label">Подписаться&nbsp;на&nbsp;рассылку&nbsp;2</span>
                                    </label>
                                </div>
                                <div class="connectMethodBlock">
                                    <p>Предпочтительный способ связи</p>
                                    <label class="radio">
                                        <input type="radio" id="method1" name="connect-method" value="email"><span class="option"><span></span></span><span class="label">Электронная почта</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="method2" name="connect-method" value="phone"><span class="option"><span></span></span><span class="label">Телефон</span>
                                    </label>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="switcherContainer">
                                    <label>
                                        <input type="checkbox" name="setting1"><span class="circle color1"></span><span class="lbl color1" onclick="event.preventDefault();"> Настройка&nbsp;1</span>
                                    </label>
                                </div>
                                <div class="switcherContainer">
                                    <label>
                                        <input type="checkbox" name="setting2"><span class="circle color2"></span><span class="lbl color2" onclick="event.preventDefault();">Настройка&nbsp;2</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="errorInfo">Остались не введенные или неправильно введенные поля. Пожалуйста, проверьте данные!</div>
                        <div class="submitBlock">
                            <input id="submitButton" type="submit" value="Отправить" onclick="errors.check(event);">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modalBackground" id="sidebarModal">
        <div class="sidebar">
            <div class="top"><span class="menuTitle">МЕНЮ</span><span class="rightTopButton"><span class="closeDlgButton"> <a href="#">X</a></span><span class="closeButtonTitle">Закрыть</span></span>
            </div>
            <div class="menuItems">
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">О компании</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Товары</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Услуги</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Схема проезда</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--include ../widgets/FeedbackForm-->
    <!--      @yield('EndBodyJS')-->
    <script src="js/NoJsRequest.js"></script>
</body>

</html>