<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <!--      {{ $pageHeadData->title }}       -->
    <title>myPhone новый хороший смартфон , не хуже чем телефон apple айфон и дешевле</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Reutov Dmitry, MyLanding Studio">
    <!--      content="{{ $pageHeadData->metadesc }}"     -->
    <meta name="description" content="Приобретая новую модель телефона MyPhone вы становитесь обладетелем престижного смартфона, сопоставимого по качеству с моделями телефонов Айфон.">
    <!--      content="{{ $pageHeadData->keywords }}"     -->
    <meta name="Keywords" content="Смартфон, мобильный телефон, айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/01_Top.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!-- 「header ==========================================================-->
    <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
    <header>
        <div class="headerBlock Centerer-MinMaxGridWidth">
            <a class="logo-link" href="#">
                <img class="img-logo" src="img/mhgsmall.png" title="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти" alt="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти">
            </a>
            <nav class="head-menu">
                <ul class="menulist">
                    <li class="menuitem"><a class="a" href="#">О компании</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Товары</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Услуги</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Схема проезда</a>
                    </li>
                    <li class="menuitem accent" onclick="modalDlg.open(&quot;.FeedbackForm-RootElement .container&quot;, &quot;opened&quot;, &quot;#feedbackModal.modalBackground&quot;);"><a class="a" href="#">Связаться</a>
                    </li>
                    <li class="menuitem drop-menu" onclick="modalDlg.open(&quot;.sidebar&quot;, &quot;opened&quot;, &quot;#sidebarModal.modalBackground&quot;);">
                        <div class="a">
                            <div class="hamburger">&#9776;</div>
                            <div class="menulabel">МЕНЮ</div>
                            <noscript>
                                <ul class="dropdown">
                                    <li class="submenuitem"><a href="#">О компании</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Товары</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Услуги</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Схема проезда</a>
                                    </li>
                                </ul>
                            </noscript>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header」 ==========================================================-->
    <div class="wrapper">
        <!-- 「content ========================================================-->
        <!--      @yield('Content')       -->
        <!--include widgets/FeedbackFormServerErrors-->
        <!-- @include('open/01_Top/01_Slider')-->
        <div class="sliderBlock Centerer-MinMaxGridWidth">
            <div class="sliderImagesContainer">
                <img class="slider selected" src="img/sliders/slider1.jpg" alt="slider show">
                <img class="slider" src="img/sliders/slider2.jpg" alt="slider show">
                <img class="slider" src="img/sliders/slider3.jpg" alt="slider show">
                <img class="slider" src="img/sliders/slider4.png" alt="slider show">
            </div>
            <div class="miniPictures">
                <div class="textBlock">
                    <p data-sentence0="Не то, чтобы он был слишком опрятным человеком, но определенная бесполезность и бессмысленность взгляда выдавала в нем человека крайне незаурядного, что впрочем не сильно ценится в наше время" data-sentence1="Случайный взгляд на луну способен породить в человеке огромное количество сомнений, которые разрешить не под силу в одиночку, ведь снегопад вечности заметает любые следы мысли"
                    data-sentence2="И когда они ткнули в меня пальцем и сказали, что я виновник всех их бед, я скромно потупился и ответил, что в сущности я программист от Бога, а когда мои программы не работают - стало быть Бог наказывает грешников"
                    data-sentence3="Сапоги бывают не на ту ногу лишь в тех редких случаях, когда у человека отсутствует та нога, лишь две эти, да и то без костей">Не то, чтобы он был слишком опрятным человеком, но определенная бесполезность и бессмысленность взгляда выдавала в нем человека крайне незаурядного, что впрочем не сильно ценится в наше время</p>
                </div>
                <div class="detailsLink"><a href="#">Подробнее</a>
                </div>
                <div class="container">
                    <img class="minipicture selected" src="img/sliders/small/slider1.jpg" alt="slider show" onclick="slider.onSelectMiniPicture(this, 0);">
                    <img class="minipicture" src="img/sliders/small/slider2.jpg" alt="slider show" onclick="slider.onSelectMiniPicture(this, 0);">
                    <img class="minipicture" src="img/sliders/small/slider3.jpg" alt="slider show" onclick="slider.onSelectMiniPicture(this, 0);">
                    <img class="minipicture" src="img/sliders/small/slider4.png" alt="slider show" onclick="slider.onSelectMiniPicture(this, 0);">
                </div>
            </div>
        </div>
        <!-- @include('open/01_Top/02_CustomGrid')-->
        <div class="customGridBlock Centerer-MinMaxGridWidth">
            <div class="customGridTitle">
                <h3 class="title1">Жесть... Как я реализую это на Bootstrap ?!</h3>
                <h5 class="title2">Bootstrap вгоняет ваше мышление в определенные рамки</h5>
            </div>
            <div class="customGridContainer">
                <div class="column1">
                    <div class="columnTitle">Жирафы честно в цель шагают, да щук объять за память елкой...</div>
                    <div class="imgCenter">
                        <img src="img/preview_pillow.png" alt="bootstrap sucks">
                    </div>
                    <div class="columnText">Пересекая двойную сплошную между возможным и невозможным Петька почувствовал сзади могильный холодок, словно бы сама смерть решила сыграть с ним в салки...
                    </div>
                </div>
                <div class="column2">
                    <div class="columnTitle">В чащах юга жил-был цитрус...но фальшивый, как телега
                    </div>
                    <ol class="orderedList">
                        <li><span class="columnText">Притяжение земли не сразу настигло канатоходца
Некоторое время он еще перебирал в воздухе беспомощно
ногами, словно надеясь избежать рокового падения
</span>
                        </li>
                        <li><span class="columnText">Жаль что нет с собой трезубца, - посетовал Ильич
глядя на убегающих прочь скакунов, - ведь где их найдешь
теперь нерадивых. Пашня то близится, а сеятелей кот наплакал.
</span>
                        </li>
                        <li><span class="columnText">Изменяя каждую пришедшую в голову мысль, Иван поскользнулся внутрь 
пульсирующего пространства, которое казалось неким странным отражением
глубины его потрепанного годами бестоковой жизни сознания.
</span>
                        </li>
                        <li><span class="columnText">Последняя надежда была лишь на то, что полка в конце концов развалится
и не нужно будет больше читать всю эту груду безнравственной литературы.
</span>
                        </li>
                        <li><span class="columnText">Эка невидаль эти ваши смартфоны... А фот зайца на лесной тропе ваш
смартфон сможет выследить? Сможет? Нет, скажи мне - сможет? То-то же... Гаврила
довольно затянулся и посмотрел туда, где река превращалась в тоненький ручеек



</span>
                        </li>
                    </ol>
                </div>
                <div class="column3">
                    <div class="columnTitle">Расчешись...Объявляю: туфли у камина</div>
                    <ul class="unorderedList">
                        <li>
                            <div class="ulLabelContainer">
                                <div class="ulLabel1"></div>
                                <div class="ulLabel2"></div>
                            </div><span class="columnText">Почти освоившись с некоторыми нотами, следует переходить
к следующему этапу беседы - выдувать ля-минор языком, едва
касаясь его кончиком солоноватых губ
                 </span>
                        </li>
                        <li>
                            <div class="ulLabelContainer">
                                <div class="ulLabel1"></div>
                                <div class="ulLabel2"></div>
                            </div><span class="columnText">Грибы всегда были съедобными, и их ели и они ели, борьба за выживание
происходила по всем фронтам, никогда нельзя быть уверенным в своем превосходстве
                          </span>
                        </li>
                        <li>
                            <div class="ulLabelContainer">
                                <div class="ulLabel1"></div>
                                <div class="ulLabel2"></div>
                                <!-- @include('open/01_Top/03_VerticalCentering')-->
                            </div><span class="columnText">Я бы не стал уж слишком подробно останавливаться на этом моменте, - печально сказал Ломоносов,
понимание того, что наука не всесильна и лишь едва касается той самой сокровенной реальности,
которую с таким самозабвенным упоением пытается исследовать, неизбежно приведет к упадническим настроениям
в ученой среде...</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="verticalCenteringBlock Centerer-MinMaxGridWidth">
            <p class="blockTitle">Задача вертикального центрирования</p>
            <div class="imagesGrid">
                <div class="column">
                    <div class="imageFrame">
                        <img src="img/vertical_2.png" alt="vertical_2.png">
                    </div>
                </div>
                <div class="column">
                    <div class="imageFrame">
                        <img src="img/vertical_3.jpg" alt="vertical_3.jpg">
                    </div>
                </div>
                <div class="column">
                    <div class="imageFrame">
                        <img src="img/vertical_1.jpg" alt="vertical_1.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- @include('open/01_Top/04_CardsView')-->
        <div class="CardViewBlock Centerer-MinMaxGridWidth">
            <div class="cardColumn column1">
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic1.jpg" alt="Luke Sutton">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Luke Sutton</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">luke_sutton@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic2.jpg" alt="Bruce Gordon">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Bruce Gordon</span>
                                <div class="circle color-2"></div>
                            </div>
                            <div class="personMailAddress">bruce_gordon@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic3.jpg" alt="Christina Nickols">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Christina Nickols</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">christina_nickols@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic1.jpg" alt="Luke Sutton">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Luke Sutton</span>
                                <div class="circle color-3"></div>
                            </div>
                            <div class="personMailAddress">luke_sutton@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="cardColumn column2">
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic2.jpg" alt="Bruce Gordon">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Bruce Gordon</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">bruce_gordon@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic3.jpg" alt="Christina Nickols">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Christina Nickols</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">christina_nickols@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic1.jpg" alt="Luke Sutton">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Luke Sutton</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">luke_sutton@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <table class="card">
                    <tr class="row1">
                        <td class="fotocontainer" rowspan="2">
                            <img class="foto" src="img/team/team_pic2.jpg" alt="Bruce Gordon">
                        </td>
                        <td class="title">
                            <div class="personName"> <span>Bruce Gordon</span>
                                <div class="circle color-1"></div>
                            </div>
                            <div class="personMailAddress">bruce_gordon@company.com</div>
                        </td>
                        <td class="menuContainer">
                            <div class="menuIcon">
                                <div class="menu">
                                    <ul>
                                        <li class="edit" onclick="cards.edit(this)">Редактировать</li>
                                        <li class="delete" onclick="cards.delete(this)">Удалить</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="info"><span>The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz</span>
                            <textarea onblur="cards.finishEditing(this)"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- content」 ========================================================-->
        <!-- 「footer =========================================================-->
        <!--      @include('public/widgets/RegularFooter')-->
        <footer>Наша компания работает с 2012 года</footer>
        <!--	footer」 =======================================================-->
        <!--	@yield('HiddenElements')-->
    </div>
    <!--      @include('open/widgets/FeedbackForm')        -->
    <div class="modalBackground" id="feedbackModal">
        <div class="FeedbackForm-RootElement">
            <div class="container">
                <div class="companyContactsBlock">
                    <h3 class="title">Адреса и телефоны</h3>
                    <ul class="contactsList">
                        <li class="type_phone">+7 495 123-45-67</li>
                        <li class="type_email">mail@company.ru</li>
                        <li class="type_address">Москва, ул. Академика Порохова, дом 20, Дом 4, подъезд 145, звонить</li>
                    </ul>
                </div>
                <div class="feedbackBlock">
                    <form id="feedback" action="#" method="post">
                        <h3 class="title">Форма заявки</h3>
                        <div class="fields">
                            <div class="fieldBlock">
                                <div class="label">Ваше имя</div>
                                <div class="field">
                                    <input class="type_name" placeholder="Пример: Петров Сергей" name="name" type="text" pattern="[A-Za-zА-Яа-яЁё]+" required>
                                </div>
                            </div>
                            <div class="errorBlock type_name">
                                <div class="error">Вы не ввели ваше имя, пожалуйста введите ваше имя</div>
                                <div class="error">Вы не ввели ни одной буквы, пожалуйста введите ваше имя</div>
                            </div>
                            <div class="fieldBlock">
                                <div class="label">Ваша электронная почта</div>
                                <div class="field">
                                    <input class="type_email" placeholder="Пример: petrov@mail.ru" name="email" type="text" pattern=".+@.+\..+" required>
                                </div>
                            </div>
                            <div class="errorBlock type_email">
                                <div class="error">Вы не ввели адрес электронной почты. Пожалуйста введите адрес электронной почты</div>
                                <div class="error">Вы ввели невозможный адрес электронной почты, пожалуйста проверьте введенный адрес</div>
                            </div>
                            <div class="fieldBlock">
                                <div class="label">Ваш телефон</div>
                                <div class="field">
                                    <input class="type_phone" placeholder="Пример: +7 495 234-56-78" name="phone" type="tel" pattern="[0-9]{2,}" required>
                                </div>
                            </div>
                            <div class="errorBlock type_phone">
                                <div class="error">Вы не ввели номер телефона. Пожалуйста введите номер телефона.</div>
                                <div class="error">Вы ввели невозможный номер телефона. Пожалуйста проверьте ваш номер телефона</div>
                            </div>
                        </div>
                        <div class="message">
                            <p>Сообщение:</p>
                            <textarea></textarea>
                        </div>
                        <div class="settings">
                            <div class="column1">
                                <div class="checkboxes">
                                    <label>
                                        <input type="checkbox" name="subscribe1"><span class="checkbox"></span><span class="label">Подписаться&nbsp;на&nbsp;рассылку&nbsp;1</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="subscribe2"><span class="checkbox"></span><span class="label">Подписаться&nbsp;на&nbsp;рассылку&nbsp;2</span>
                                    </label>
                                </div>
                                <div class="connectMethodBlock">
                                    <p>Предпочтительный способ связи</p>
                                    <label class="radio">
                                        <input type="radio" id="method1" name="connect-method" value="email"><span class="option"><span></span></span><span class="label">Электронная почта</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" id="method2" name="connect-method" value="phone"><span class="option"><span></span></span><span class="label">Телефон</span>
                                    </label>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="switcherContainer">
                                    <label>
                                        <input type="checkbox" name="setting1"><span class="circle color1"></span><span class="lbl color1" onclick="event.preventDefault();"> Настройка&nbsp;1</span>
                                    </label>
                                </div>
                                <div class="switcherContainer">
                                    <label>
                                        <input type="checkbox" name="setting2"><span class="circle color2"></span><span class="lbl color2" onclick="event.preventDefault();">Настройка&nbsp;2</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="errorInfo">Остались не введенные или неправильно введенные поля. Пожалуйста, проверьте данные!</div>
                        <div class="submitBlock">
                            <input id="submitButton" type="submit" value="Отправить" onclick="errors.check(event);">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modalBackground" id="sidebarModal">
        <div class="sidebar">
            <div class="top"><span class="menuTitle">МЕНЮ</span><span class="rightTopButton"><span class="closeDlgButton"> <a href="#">X</a></span><span class="closeButtonTitle">Закрыть</span></span>
            </div>
            <div class="menuItems">
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">О компании</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Товары</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Услуги</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Схема проезда</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--include ../widgets/FeedbackForm-->
    <!--      @yield('EndBodyJS')-->
    <script src="js/Top.js"></script>
</body>

</html>