<!DOCTYPE html>
<html lang="ru">
<!-- 「head ================================================================-->

<head>
    <!--      {{ $pageHeadData->title }}       -->
    <title>myPhone новый хороший смартфон , не хуже чем телефон apple айфон и дешевле</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Reutov Dmitry, MyLanding Studio">
    <!--      content="{{ $pageHeadData->metadesc }}"     -->
    <meta name="description" content="Приобретая новую модель телефона MyPhone вы становитесь обладетелем престижного смартфона, сопоставимого по качеству с моделями телефонов Айфон.">
    <!--      content="{{ $pageHeadData->keywords }}"     -->
    <meta name="Keywords" content="Смартфон, мобильный телефон, айфон">
    <!--      href="{{ asset('common/img/favicon.ico') }}"       -->
    <link rel="shortcut icon" type="image/x-icon" href="../common/img/favicon.ico">
    <!--      @yield('CssLinks')-->
    <!--      @yield('EndHeadJS')-->
    <link href="css/02_Thanks.css" rel="stylesheet">
    <!-- head」 ===============================================================-->
</head>

<body>
    <!-- 「header ==========================================================-->
    <!--      @include('open/widgets/RegularHeaderWithMenu')       -->
    <header>
        <div class="headerBlock Centerer-MinMaxGridWidth">
            <a class="logo-link" href="#">
                <img class="img-logo" src="img/mhgsmall.png" title="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти" alt="Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти">
            </a>
            <nav class="head-menu">
                <ul class="menulist">
                    <li class="menuitem"><a class="a" href="#">О компании</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Товары</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Услуги</a>
                    </li>
                    <li class="menuitem"><a class="a" href="#">Схема проезда</a>
                    </li>
                    <li class="menuitem accent" onclick="modalDlg.open(&quot;.FeedbackForm-RootElement .container&quot;, &quot;opened&quot;, &quot;#feedbackModal.modalBackground&quot;);"><a class="a" href="#">Связаться</a>
                    </li>
                    <li class="menuitem drop-menu" onclick="modalDlg.open(&quot;.sidebar&quot;, &quot;opened&quot;, &quot;#sidebarModal.modalBackground&quot;);">
                        <div class="a">
                            <div class="hamburger">&#9776;</div>
                            <div class="menulabel">МЕНЮ</div>
                            <noscript>
                                <ul class="dropdown">
                                    <li class="submenuitem"><a href="#">О компании</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Товары</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Услуги</a>
                                    </li>
                                    <li class="submenuitem"><a href="#">Схема проезда</a>
                                    </li>
                                </ul>
                            </noscript>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header」 ==========================================================-->
    <div class="wrapper">
        <!-- 「content ========================================================-->
        <!--      @yield('Content')       -->
        <div class="content">Спасибо за заявку
        </div>
        <!-- content」 ========================================================-->
        <!-- 「footer =========================================================-->
        <!--      @include('public/widgets/RegularFooter')-->
        <footer>Наша компания работает с 2012 года</footer>
        <!--	footer」 =======================================================-->
        <!--	@yield('HiddenElements')-->
    </div>
    <div class="modalBackground" id="sidebarModal">
        <div class="sidebar">
            <div class="top"><span class="menuTitle">МЕНЮ</span><span class="rightTopButton"><span class="closeDlgButton"> <a href="#">X</a></span><span class="closeButtonTitle">Закрыть</span></span>
            </div>
            <div class="menuItems">
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">О компании</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Товары</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Услуги</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Схема проезда</a>
                    </div>
                </div>
                <div class="menu-item-row">
                    <div class="menu-item-icon"></div>
                    <div class="menu-item-text"><a href="#">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--include ../widgets/FeedbackForm-->
    <!--      @yield('EndBodyJS')-->
</body>

</html>