doctype html

html(lang='ru')
    // 「head ================================================================
    head
        block Head
        
            - var pageTitle = pageTitle ? pageTitle : 'myPhone новый хороший смартфон , не хуже чем телефон apple айфон и дешевле'
            - var keywords = keywords ? keywords: 'Смартфон, мобильный телефон, айфон'
            - var description = description ? description: 'Приобретая новую модель телефона MyPhone вы становитесь обладетелем престижного смартфона, сопоставимого по качеству с моделями телефонов Айфон.'
            
            //      {{ $pageHeadData->title }}       
            title #{pageTitle}
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(name='Author', content='Reutov Dmitry, MyLanding Studio')
            
            //      content="{{ $pageHeadData->metadesc }}"     
            meta(name='description', content=description)
            //      content="{{ $pageHeadData->keywords }}"     
            meta(name='Keywords', content=keywords)
            
            //      href="{{ asset('common/img/favicon.ico') }}"       
            link(rel='shortcut icon' type='image/x-icon' href='../common/img/favicon.ico')
            
        //      @yield('CssLinks')
        //      @yield('EndHeadJS')
        block CssLinks
        // head」 ===============================================================
                            
    body
        
        // 「header ==========================================================
        //      @include('open/widgets/RegularHeaderWithMenu')       
        include ../widgets/RegularHeaderWithMenu
        // header」 ==========================================================
        
        .wrapper
			
            // 「content ========================================================
            //      @yield('Content')       
            block Content
            // content」 ========================================================
            // 「footer =========================================================
            //      @include('public/widgets/RegularFooter')
            
            include ../widgets/RegularFooter
            //	footer」 =======================================================
            //	@yield('HiddenElements')
                
        block HiddenElements
        include ../widgets/SideBarMenu	
        //include ../widgets/FeedbackForm
        //      @yield('EndBodyJS')
        block EndBodyJS