- var filenames = ['slider1.jpg#selected', 'slider2.jpg', 'slider3.jpg', 'slider4.png']

- var sentences = {'data-sentence0': 'Не то, чтобы он был слишком опрятным человеком, но определенная бесполезность и бессмысленность взгляда выдавала в нем человека крайне незаурядного, что впрочем не сильно ценится в наше время', 'data-sentence1': 'Случайный взгляд на луну способен породить в человеке огромное количество сомнений, которые разрешить не под силу в одиночку, ведь снегопад вечности заметает любые следы мысли', 'data-sentence2': 'И когда они ткнули в меня пальцем и сказали, что я виновник всех их бед, я скромно потупился и ответил, что в сущности я программист от Бога, а когда мои программы не работают - стало быть Бог наказывает грешников', 'data-sentence3': 'Сапоги бывают не на ту ногу лишь в тех редких случаях, когда у человека отсутствует та нога, лишь две эти, да и то без костей'}

- var folderPaths = {slider: 'img/sliders/', minipicture: 'img/sliders/small/'}

- var onSelectMinipictureEvent = 'slider.onSelectMiniPicture(this, 0);';

mixin showImages(className = 'slider', clickAction = '')
	
	- for(var i = 0; i < filenames.length; i++)
		- var fileInfo = filenames[i].split('#')
		- var filename = fileInfo[0]
		- var filePath = folderPaths[className] + filename
		- var classes  = [className]
		- if(fileInfo.length > 1) classes[1] = fileInfo[1]
		- var attributes = {}
		- if(clickAction) attributes['onclick'] = clickAction	 
        
		img(src=filePath class=classes alt='slider show')&attributes(attributes)

.sliderBlock.Centerer-MinMaxGridWidth
	.sliderImagesContainer
		+showImages

	.miniPictures
		div.textBlock
			p&attributes(sentences)= sentences['data-sentence0']
		div.detailsLink
			a(href='#') Подробнее
		div.container
			+showImages('minipicture', onSelectMinipictureEvent)                     