- var bsucksImagePath = 'img/preview_pillow.png'
	
.customGridBlock.Centerer-MinMaxGridWidth
	.customGridTitle
		h3.title1 Жесть... Как я реализую это на Bootstrap ?!
		h5.title2 Bootstrap вгоняет ваше мышление в определенные рамки
	.customGridContainer
		.column1
			
				.columnTitle. 
						Жирафы честно в цель шагают, да щук объять
						за память елкой...
				.imgCenter
					img(src=bsucksImagePath alt='bootstrap sucks')
			
				.columnText.
							Пересекая двойную сплошную между возможным и невозможным 
							Петька почувствовал сзади могильный холодок, словно бы сама 
							смерть решила сыграть с ним в салки...
				 
		.column2
			
				.columnTitle. 
						В чащах юга жил-был цитрус...но фальшивый, как телега
						
				ol.orderedList
					li
						span.columnText.
							Притяжение земли не сразу настигло канатоходца
							Некоторое время он еще перебирал в воздухе беспомощно
							ногами, словно надеясь избежать рокового падения
						
					li
						span.columnText.
							Жаль что нет с собой трезубца, - посетовал Ильич
							глядя на убегающих прочь скакунов, - ведь где их найдешь
							теперь нерадивых. Пашня то близится, а сеятелей кот наплакал.
						
					li
						span.columnText.
							Изменяя каждую пришедшую в голову мысль, Иван поскользнулся внутрь 
							пульсирующего пространства, которое казалось неким странным отражением
							глубины его потрепанного годами бестоковой жизни сознания.
						
					li
						span.columnText.
							Последняя надежда была лишь на то, что полка в конце концов развалится
							и не нужно будет больше читать всю эту груду безнравственной литературы.
						
					li
						span.columnText.
							Эка невидаль эти ваши смартфоны... А фот зайца на лесной тропе ваш
							смартфон сможет выследить? Сможет? Нет, скажи мне - сможет? То-то же... Гаврила
							довольно затянулся и посмотрел туда, где река превращалась в тоненький ручеек
						
					
						
					
		.column3
			
				.columnTitle. 
						Расчешись...Объявляю: туфли у камина
				ul.unorderedList
					li
						.ulLabelContainer                            
							.ulLabel1
							.ulLabel2
						span.columnText.
							Почти освоившись с некоторыми нотами, следует переходить
							к следующему этапу беседы - выдувать ля-минор языком, едва
							касаясь его кончиком солоноватых губ
                        
					li
						.ulLabelContainer                            
							.ulLabel1
							.ulLabel2
						span.columnText.
							Грибы всегда были съедобными, и их ели и они ели, борьба за выживание
							происходила по всем фронтам, никогда нельзя быть уверенным в своем превосходстве
                                 
					li
						.ulLabelContainer                            
							.ulLabel1
							.ulLabel2
						span.columnText.
							Я бы не стал уж слишком подробно останавливаться на этом моменте, - печально сказал Ломоносов,
							понимание того, что наука не всесильна и лишь едва касается той самой сокровенной реальности,
							которую с таким самозабвенным упоением пытается исследовать, неизбежно приведет к упадническим настроениям
							в ученой среде...
				