- var imagesNames = ['vertical_2.png', 'vertical_3.jpg', 'vertical_1.jpg']

.verticalCenteringBlock.Centerer-MinMaxGridWidth
    p.blockTitle Задача вертикального центрирования
    
    .imagesGrid
        each imageName in imagesNames
            .column
                .imageFrame
                    - var imagePath = 'img/' + imageName
                    img(src=imagePath alt=imageName)
