- var persons = [{name: 'Luke Sutton', file: 'team_pic1.jpg'}, {name: 'Bruce Gordon', file: 'team_pic2.jpg'}, {name: 'Christina Nickols', file: 'team_pic3.jpg'}]
- var colorClasses = ['1', '2', '1', '3', '1', '1', '1', '1']

- var info = 'The quick brown fox jumps over a lazy dog. MTV aux quiz prog. Junk MTV quiz'

mixin fillColumn(col)
    - for(var i = (col - 1) * 4; i < col * 4; i++){
    
        - var ind           = i % persons.length
        - var person        = persons[ind]
        - var filePath      = 'img/team/' + person.file
        - var personName    = person.name
        - var personMail    = personName.toLowerCase().replace(' ', '_') + '@company.com'

        - ind               = i % colorClasses.length
        - var colorClass    = 'color-' + colorClasses[ind]

        table.card
            tr.row1
                td.fotocontainer(rowspan = 2)
                    img.foto(src=filePath alt=personName)
                td.title 
                    .personName 
                        span= personName
                        div(class=['circle', colorClass])
                    .personMailAddress= personMail
                td.menuContainer 
                    .menuIcon
                        .menu
                            ul
                                li.edit(onclick='cards.edit(this)') Редактировать
                                li.delete(onclick='cards.delete(this)') Удалить

            tr.row2
                td.info
                    span= info
                    textarea(onblur = 'cards.finishEditing(this)')
                td
    -}

.CardViewBlock.Centerer-MinMaxGridWidth
    - for(var col = 1; col < 3; col++){
    div(class = ['cardColumn', 'column' + col]) 
        +fillColumn(col)
    -}