- var companyContacts = [{type: 'phone', info: '+7 495 123-45-67'}, {type: 'email', info: 'mail@company.ru'}, {type: 'address', info: 'Москва, ул. Академика Порохова, дом 20, Дом 4, подъезд 145, звонить'}]

- var customerContacts = [{type: 'name', inputType: 'text', label: 'Ваше имя', tip: 'Петров Сергей', pattern: '[A-Za-zА-Яа-яЁё]+'}, {type: 'email', inputType: 'text', label: 'Ваша электронная почта', tip: 'petrov@mail.ru', pattern: '.+@.+\\..+'}, {type: 'phone', inputType: 'tel', label: 'Ваш телефон', tip: '+7 495 234-56-78', pattern: '[0-9]{2,}'}]

- var errorsMessages = {name: ['Вы не ввели ваше имя, пожалуйста введите ваше имя', 'Вы не ввели ни одной буквы, пожалуйста введите ваше имя'], email: ['Вы не ввели адрес электронной почты. Пожалуйста введите адрес электронной почты', 'Вы ввели невозможный адрес электронной почты, пожалуйста проверьте введенный адрес'], phone: ['Вы не ввели номер телефона. Пожалуйста введите номер телефона.', 'Вы ввели невозможный номер телефона. Пожалуйста проверьте ваш номер телефона']}

#feedbackModal.modalBackground
    div.FeedbackForm-RootElement
    
        .container
    
            .companyContactsBlock
                h3.title Адреса и телефоны
                ul.contactsList
                    for contact in companyContacts
                        - var className = 'type_' + contact.type
                        li(class = className)= contact.info

            .feedbackBlock

                form(id = 'feedback' action = '#' method = 'post')

                    h3.title Форма заявки

                    .fields

                        for contactField in customerContacts
                            - var fieldClassName = 'type_' + contactField.type

                            .fieldBlock
                                .label= contactField.label
                                .field
                                    - var placeholder = 'Пример: ' + contactField.tip;
                                    input(class = fieldClassName placeholder=placeholder name=contactField.type type=contactField.inputType pattern=contactField.pattern required)

                            div(class = 'errorBlock ' + fieldClassName)
                                .error=  errorsMessages[contactField.type][0]
                                .error=  errorsMessages[contactField.type][1]


                    .message
                        p Сообщение:
                        textarea

                    .settings

                        .column1

                            .checkboxes

                                label
                                    input(type = 'checkbox' name = 'subscribe1') 
                                    span.checkbox
                                    span.label Подписаться&nbsp;на&nbsp;рассылку&nbsp;1

                                label
                                    input(type = 'checkbox' name = 'subscribe2') 
                                    span.checkbox
                                    span.label Подписаться&nbsp;на&nbsp;рассылку&nbsp;2

                            .connectMethodBlock

                                p Предпочтительный способ связи

                                label.radio
                                    input(type="radio" id="method1" name="connect-method" value="email")

                                    span.option
                                        span

                                    span.label Электронная почта
                                    
                                label.radio
                                    input(type="radio" id="method2" name="connect-method" value="phone")

                                    span.option
                                        span

                                    span.label Телефон

                        .column2

                            .switcherContainer

                                label
                                    input(type = 'checkbox' name = 'setting1') 
                                    span.circle.color1
                                    span.lbl.color1(onclick = 'event.preventDefault();')  Настройка&nbsp;1

                            .switcherContainer

                                label
                                    input(type = 'checkbox'  name = 'setting2') 
                                    span.circle.color2
                                    span.lbl.color2(onclick = 'event.preventDefault();') Настройка&nbsp;2




                    .errorInfo.
                        Остались не введенные или неправильно введенные поля. Пожалуйста, проверьте данные!
                    .submitBlock
                        input#submitButton(type = 'submit' value = 'Отправить' onclick = 'errors.check(event);')








