header

	- var logoAlt 	= logoAlt ? logoAlt : 'Прочный союз качества и стиля. На вашей свадьбе подруги умрут от зависти'
	- var menuItems = menuItems ? menuItems : ['О компании', 'Товары', 'Услуги', 'Схема проезда']
	- var menuOnClickEvent = 'modalDlg.open(".sidebar", "opened", "#sidebarModal.modalBackground");'
	- var menuFeedbackOnClickEvent = 'modalDlg.open(".FeedbackForm-RootElement .container", "opened", "#feedbackModal.modalBackground");'
    
	.headerBlock.Centerer-MinMaxGridWidth
	
		a.logo-link(href="#")
			img.img-logo(src="img/mhgsmall.png" title=logoAlt alt=logoAlt)

		nav.head-menu
			ul.menulist
				for menuItem in menuItems
					li.menuitem
						a.a(href='#')= menuItem

				li.menuitem.accent(onclick=menuFeedbackOnClickEvent)
					a.a(href='#') Связаться

				li.menuitem.drop-menu(onclick=menuOnClickEvent)
					div.a
						div.hamburger &#9776;
						div.menulabel МЕНЮ
						
						noscript
							ul.dropdown
								for menuItem in menuItems
									li.submenuitem
										a(href = "#")= menuItem