block append HiddenElements
	#sidebarModal.modalBackground
		.sidebar
			.top
				span.menuTitle МЕНЮ
				span.rightTopButton
					span.closeDlgButton 
						a(href='#') X
					span.closeButtonTitle Закрыть
			.menuItems
				- menuItems.push('Связаться')
				for menuItem in menuItems
					.menu-item-row
						.menu-item-icon
						.menu-item-text
							a(href='#')= menuItem
						
				- menuItems.pop()