extends layouts/basic

mixin FeedbackRequestCardViewItem(data)

    div(class='FeedbackRequests-CardView-Item', class=data.itemClassModifier)
        div.FeedbackRequests-CardView-Item-TimeAndLabel
            span(class='FeedbackRequests-CardView-Item-Label' class=data.labelClassModifier)=data.label
            span.FeedbackRequests-CardView-Item-Time=data.dateTime
        div.FeedbackRequests-CardView-Item-Name=data.name
        div.FeedbackRequests-CardView-Item-Email=data.email

block append CssLinks
    link(href='css/Main.css', rel='stylesheet')

block prepend Content

    div.FeedbackRequests-Wrapper
        div.FeedbackRequests-Heading Заявки
        

        div.FeedbackRequests-CardView
        
            +FeedbackRequestCardViewItem({  itemClassModifier : 'new', labelClassModifier : 'new', label : 'Новая',
                    dateTime : '12:45  11 января 2018', name:'Устимович Григорий', email:'effennarrex-9053@yopmail.com' })
            +FeedbackRequestCardViewItem({itemClassModifier : 'new', labelClassModifier : 'new', label : 'Новая',
                    dateTime : '12:45  11 января 2018', name:'Кудайбергенова Анфиса', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'processed', label : 'Переговоры',
                    dateTime : '12:45  11 января 2018', name:'Титова Дарья', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'deal', label : 'Сделка',
                    dateTime : '12:45  11 января 2018', name:'Алексеева Эмилия', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : 'canceled', labelClassModifier : 'canceled', label : 'Аннулирован',
                    dateTime : '12:45  11 января 2018', name:'Калинина Виктория', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : 'complete', labelClassModifier : 'complete', label : 'Завершён',
                    dateTime : '12:45  11 января 2018', name:'Пищальникова Раиса', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '',
                    dateTime : '12:45  11 января 2018', name:'Низовцов Иван', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '', 
                    dateTime : '12:45  11 января 2018', name:'Яблонов Алексей', email:'effennarrex-9053@yopmail.com'  })
            +FeedbackRequestCardViewItem({itemClassModifier : '', labelClassModifier : 'new', label : '', 
                    dateTime : '12:45  11 января 2018', name:'Пыхтин Модест', email:'effennarrex-9053@yopmail.com'  })
        

block append HiddenElements

block prepend EndBodyJS
    script(src='js/AdminPanel_Main.js')