@import 'framework/_framework'
@import '_sprites'

@import 'widgets/_RegularHeaderWithMenu'
@import 'widgets/_RegularFooter' 

.content
    padding-top: 40px
    color: darken($o, 40)
    font-size: 24px
    text-align: center
