mixin RadioButton(id)
    label(for=id).D-RadioButton
        input(id=id type='radio')
        svg(viewbox='0 0 24 24').empty
            path(d='M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z')
        svg(viewbox='0 0 24 24').checked
            path(fill='#000000', d='M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7Z')
            
mixin CheckBox(args)

    label.D-PseudoCheckbox-WrapperLabel
        input(type='checkbox' id=args.id name=args.name checked=args.checked).D-PseudoCheckbox-AuthenticCheckbox
        svg(viewbox='0 0 24 24').D-PseudoCheckbox-CheckboxIcon.unchecked
            path(d='M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z')
        svg(viewbox='0 0 24 24').D-PseudoCheckbox-CheckboxIcon.checked
            path(d='M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z')
        span.D-PseudoCheckbox-PseudoLabel=args.label
        