.AdminPanelLayout
    
    &-PageWrapper
        
        display: flex
        flex-direction: column
        
        height: 100vh
        
        
    &-Header
        
        background: $o
        padding: 10px 10px
        
        &-TempContains
            width: 150px
            height: 40px
            background: $y
            
    &-NavPanelAndContent
        
        flex-grow: 1
        display: flex
        
    &-NavPanel
        
        overflow-y: auto
        
        background: #FAFAFA
        
        &.fixWidth
            width: $GridMinWidth
            flex-shrink: 0
            
        &.fillParentWidth
            width: 100%
        
            
    &-MainContent
        
        background: #F5F5F5
        
        flex-grow: 1
        
        overflow-y: auto
        
        @media screen and (min-width: $GridMinWidth*2 + $MainContentSidePaddingSum)
            padding: 10px 10px
    
        
@mixin MainContentWidget
    
    display: inline-block
        
    border: 1px solid #E0E0E0
    background: $AbsWhiteColor
    
    >.DashboardWidget-TitleSection
        padding: 10px 12px
        font-size: 10px
        
    >.DashboardWidget-Content
        padding: 10px 12px
        
        &.noPadding
            padding: 10px 0