$minipictures-block-color: #cbe4e3

.sliderBlock
    //overflow: hidden
    position: relative

.sliderImagesContainer
	img
		display: none
		width: 100%
		
		animation-name: slowlyAppear
		animation-duration: 2s
		
		&.selected
			display: block
			
@keyframes slowlyAppear 
    0%
        opacity: .3 
    100% 
        opacity: 1
    
.miniPicturesContainer 
    overflow: hidden
		
.miniPictures
    position: absolute
    bottom: 5px
    width: 90%
    background: linear-gradient(270deg, $minipictures-block-color, transparent)
    
    right: 0px
    padding-right: 15px
    text-align: right
    
    @media (max-width: 800px)
        position: inherit
        background: inherit
        width: 100%
        bottom: inherit;
        
    .textBlock
        height: 55px
        overflow: hidden
        font-size: 18px
        padding-bottom: 10px
        
        @media (max-width: 800px)
            height: 74px
            
    .detailsLink
        padding-bottom: 5px
        a  
            color: red
            text-decoration: underline
        

    .container

        img.minipicture
            cursor: pointer
            height: 60px
            width: 100px

            &.selected
                border: solid 2px yellow