$bg-image-path:	'../img/backgrounds/batthern.png'

$background-color-from: #f7bb97
$background-color-to: #dd5e89

$column-bgcolor: #f4d0da

$columnsParts: (1,5) (2, 11)
$partsCount: 24

.customGridBlock
    padding: 10px 0px 10px 0px
    background: url($bg-image-path) 0px 0px, linear-gradient(90deg, $background-color-from, $background-color-to)
	
    .customGridTitle
        margin-left: 10px
        .title1
            font-size: 26px
        .title2
            font-size: 14px
            font-weight: bold
			
    .customGridContainer
        width: 100%

        display: table
        border-collapse: separate
        border-spacing: 10px

        margin-top: 10px
		
        >div
            display: table-cell
            opacity: 0.7
            background-color: $column-bgcolor

            padding: 10px 0px 20px 0px
            
            @media (max-width: 700px)
                display: block    
		
            @each $ind, $part in $columnsParts	
                &:nth-child(#{$ind})
                    width: percentage($part / $partsCount)
            
                    @media (max-width: 700px)
                        width: 100%
					
            .columnTitle
                font-size: 15px	
                font-weight: bold
                margin-bottom: 10px
                margin-left: 8px

            .columnText
                font-size: 13px

            .imgCenter
                padding: 10px 10px 10px 10px
                text-align: center

                img
                    width: 80%

            .orderedList
                counter-reset: li 
                list-style: none 
                padding-top: 10px

                li span
                    position: relative
                    display: block
                    margin-left: 50px
                    margin-bottom: 10px

                    &:before 
                        content: counter(li)
                        counter-increment: li
                        position: absolute;
                        left: -3.3em
                        top: 20%
                        margin-top: -1.3em
                        background: linear-gradient(180deg, yellow, black)
                        height: 2em
                        width: 2em
                        line-height: 2em
                        color: white
                        text-align: center
                        font-weight: bold
                        border-radius: 2em

            .unorderedList                       
                list-style: none
                padding-top: 10px
                padding-left: 8px
                
                li
                    overflow: hidden
                    min-height: 30px
                
                .ulLabelContainer
                    background: linear-gradient(180deg, yellow, black 90%, $column-bgcolor 100%) 
                    width: 3.05em
                    height: 30px
                    
                    @-moz-document url-prefix()
                        width: 2.98em  
                        height: 29px
                    
                    >div
                        display: inline-block

                    .ulLabel1
                        width: 0px
                        height: 0px
                        border: 15px solid transparent
                        border-right-width: 0px
                        border-left-color: $column-bgcolor

                    .ulLabel2
                        width: 0px
                        height: 0px
                        border: 15px solid $column-bgcolor
                        border-right-width: 5px
                        border-left-color: transparent

                .columnText
                    float: right
                    margin-left: 50px
                    margin-top: -23px
 