.verticalCenteringBlock
    background: url('../img/backgrounds/vert_centering_block_bg.png') repeat-y 0px 0px
    background-size: 100%
    overflow: hidden
    
    p.blockTitle
        color: white
        background-color: transparent
        font-size: 22px
        margin: 10px 0px 10px 30px
        
    .imagesGrid
        display: table
        height: 850px
        
        @media (max-width: 800px)
            height: 650px
            
        @media (max-width: 700px)
            height: 420px
        
        .column
            display: table-cell
            width: percentage(1/3)
            padding: 0px 10px 20px 15px
            
            &:nth-child(2)
                vertical-align: middle
            &:nth-child(3)
                vertical-align: bottom
            
            .imageFrame
                background-color: rgba(221, 221, 242, 0.7)
                padding: 6px 20px 6px 20px
                
                img
                    width: 100%
                    opacity: 1
            
                
        