$block-color : #e0e9f8

$editIconPath : '../img/icons/pencil.svg'
$deleteIconPath : '../img/icons/delete.svg'

$circle-colors: #44FFAD #FFDF44 #FFA144

$wide-width: 700px

@keyframes slowlyDisappear 
    0%
        display: block
    100% 
        display: none

.CardViewBlock
    width: 100%
    display: table
    background-color:#e0e9f8
    border-top: 2px solid pink
    border-collapse: separate
    border-spacing: 10px
    
    .cardColumn
        display: table-cell
        width: 50%
        background-color: transparent
        
        @media (max-width: $wide-width)
            display: block
            width: 100%
        
        .card
            width: 100%
            background-color: white
            border-bottom: 10px solid $block-color
            
            animation-name: slowlyDisappear
            animation-duration: 2s
            
            font-family: 'Verdana'
            
            &.deleted
                display: none    
            td
                vertical-align: top
                padding: 5px 3px 5px 5px
            .row1
                .fotocontainer
                    width: 95px
                    img.foto
                        width: 100%
                .title
                    padding-left: 4px
                    .personName
                        font-size: 22px

                        .circle
                            display: inline-block
                            height: 15px
                            width: 15px
                            border-radius: 10px
                            &.color-1
                                background: nth($circle-colors, 1) 
                            &.color-2
                                background: nth($circle-colors, 2)
                            &.color-3
                                background: nth($circle-colors, 3)
                            

                    .personMailAddress
                        color: #E2D3C9

                .menuContainer
                    vertical-align: top
                    cursor: pointer
                    position: relative
                    text-align: right
        
                    .menuIcon
                        +Sprite-DotsVertical
                        margin-top: -2px
                    .menu
                        display: none
                        position: absolute
                        top: 0px
                        right: 100%
                        background-color: white
                        padding-top: 0px
                        box-shadow: 2px 2px 2px rgba(0,0,0,0.7)

                        ul
                            padding: 5px 0px 0px 18px
                            margin: 0px
                            
                            li
                                list-style: none
                                padding: 5px 10px 0px 30px
                                height: 30px
                                color: darken($block-color, 30)
                                text-align: left
                                
                                &.edit
                                    background: url($editIconPath) no-repeat 0 0px
                                &.delete
                                    background: url($deleteIconPath) no-repeat 0 0px
                                    
                                &:hover
                                    background-color: lighten(grey, 40)
                                    

                    &:hover
                        .menu
                            display: block
            .row2
                .info
                    vertical-align: bottom
                    color: #8C7D86
                    padding-left: 4px
                    line-length: 2.5
                    
                    textarea
                        display: none
                    
                    &.editMode
                        textarea
                            display: block
                            width: 100%
                            height: 100%
                        span
                            display: none
                            
        @media (min-width: $wide-width)
            &.column1
                border-right: 10px solid transparent
            &.column2
                border-left: 10px solid transparent